<!DOCTYPE html>
<html>
<head>
    <title>Resume Builder</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">
</head>

<body>

    <nav>
        <h2>Resume Builder</h2>

        <div>
            <a href="./login">Login</a>
            <a href="./register">Register</a>
        </div>
    </nav>

    <div class="hero">

        <h1>Create Professional Resumes</h1>

        <p>
            Build ATS-friendly resumes in minutes.
        </p>

        <button><a href="./register">Get Started</a></button>

    </div>
    

</body>
</html>